In [1]:
import geopandas as gpd
import psycopg2 as pg
import pandas as pd

connection = pg.connect(database = "postgres", user = "postgres", host = "localhost", password = "Psim1234")

## 1. Ile rekordów znajduje się w tabeli nyc_streets?

In [2]:
txt = """
    SELECT COUNT(*)
    FROM nyc_streets
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count
0  19091

## 2. Ile ulic w Nowym Jorku ma nazwy zaczynające się na „B”, „Q” i „M”?

In [3]:
txt = """
    SELECT COUNT(name)
    FROM nyc_streets
    WHERE name LIKE 'B%'
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count
0   1282

In [4]:
txt = """
    SELECT COUNT(name)
    FROM nyc_streets
    WHERE name LIKE 'Q%'
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count
0     68

In [5]:
txt = """
    SELECT COUNT(name)
    FROM nyc_streets
    WHERE name LIKE 'M%'
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count
0    752

## 3. Jaka jest populacja miasta Nowy Jork?

In [6]:
txt = """
    SELECT SUM(popn_total)
    FROM nyc_census_blocks
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

         sum
0  8175032.0

## 4. Jaka jest populacja Bronxu, Manhattanu i Queens?

In [7]:
txt = """
    SELECT boroname, SUM(popn_total)
    FROM public.nyc_census_blocks
    WHERE boroname ~'^(The Bronx|Manhattan|Queens)$'
    GROUP BY boroname
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    boroname        sum
0     Queens  2230621.0
1  The Bronx  1385108.0
2  Manhattan  1585873.0

## 5. Ile dzielnic ("neighborhoods") znajduje się w każdej gminie (borough)?

In [8]:
txt = """
    SELECT boroname, COUNT(*)
    FROM nyc_neighborhoods
    GROUP BY boroname
"""

df = pd.read_sql(txt, con=connection)
df

C:\Users\szczy\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        boroname  count
0         Queens     30
1       Brooklyn     23
2  Staten Island     24
3      The Bronx     24
4      Manhattan     28