## L3.Jakub_Szczypek

# <center>Laboratorium Analiza i bazy danych </center>

## <center>Łączenie tabel, podzapytania i funkcje agregujące</center>

## Przykładowe tabele obrazujące łączenie

Do zobrazowania operacji łączenia zostaną użyte tabele:

```sql
CREATE TABLE shape_a (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
 
CREATE TABLE shape_b (
    id INT PRIMARY KEY,
    shape VARCHAR (100) NOT NULL
);
```
 
Polecenie CREATE TABLE tworzy tabelę o zadanej nazwie i strukturze. Ogólna postać to:
```sql
CREATE TABLE tab_name (
    col_name1 data_type constrain,
    col_name1 data_type constrain,
    ...
);
```
Należy uzupełnić ją danymi:
```sql
INSERT INTO shape_a (id, shape)
VALUES
    (1, 'Trójkąt'),
    (2, 'Kwadrat'),
    (3, 'Deltoid'),
    (4, 'Traper');
 
INSERT INTO shape_b (id, shape)
VALUES
    (1, 'Kwadrat'),
    (2, 'Trójkąt'),
    (3, 'Romb'),
    (4, 'Równoległobok');
```
Komenda INSERT INTO pozwala na dodanie do tabeli rekordów. Ogólna postać to:

```sql
INSERT INTO tab_name (col1_name, col2_name2, ...) 
VALUES
    (val1_col1, val2_col2),
    (val2_col1, val2_col2),
    ...
```

## Inner join 

Jest to podstawowy rodzaj złączenie. Ten sposób złączenia wybiera  te wiersze, dla których warunek złączenia jest spełniony. W żadnej z łączonych tabel kolumna użyta do łączenia nie może mieć wartości NULL. 

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
INNER JOIN shape_b b ON a.shape = b.shape;
```
W zapytaniu powyżej użyto *aliasów* nazw tabel i column wynikowych, jest to szczególnie przydatne przy długich nazwach tabel i wprowadza czytelność w zapytaniu.

#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|

## OUTER JOIN

Istnieją trzy rodzaje złączeń OUTER:
- LEFT OUTER JOIN,
- RIGHT OUTER JOIN,
- FULL OUTER JOIN.

### LEFT OUTER JOIN

Ten rodzaj złączenie zwróci wszystkie rekordy z lewej tablicy i dopasuje do nich rekordy z prawej tablicy które spełniją zadany warunek złączenia. Jeżeli w prawej tablicy nie występują rekordy spełnijące warunek złączenia z lewą w ich miejscu pojawią się wartości NULL.

#### Przykład 1:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
LEFT JOIN shape_b b ON a.shape = b.shape;
```
#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|
|3|Deltoid|NULL|NULL|
|4|Traper|NULL|NULL|

#### Przykład 2:
```sql
SELECT
    b.id id_b,
    b.shape shape_b,
    a.id id_a,
    a.shape shape_a   
FROM
    shape_b b
LEFT JOIN shape_a a ON a.shape = b.shape;
```
#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Kwadrat|2|Kwadrat|
|2|Trójkąt|1|Trójkąt|
|3|Romb|NULL|NULL|
|4|Równoległobok|NULL|NULL|

### RIGHT OUTER JOIN

Działa jak left outer join z tym, że prawa tablica w zapytaniu jest brana w całości.

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
RIGHT JOIN shape_b b ON a.shape = b.shape;
```

#### Wynik:
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|2|Kwadrat|1|Kwadrat|
|1|Trójkąt|2|Trójkąt|
|NULL|NULL|3|Romb|
|NULL|NULL|4|Równoległobok|


### FULL OUTER JOIN

Jest złączeniem które zwraca:
- wiersze dla których warunek złączenia jest spełniony,
- wiersze z lewej tabeli dla których nie ma odpowiedników w prawej,
- wiersze z prawej tabeli dla których nie ma odpowiedników w lewej. 

#### Przykład:
```sql
SELECT
    a.id id_a,
    a.shape shape_a,
    b.id id_b,
    b.shape shape_b
FROM
    shape_a a
FULL JOIN shape_b b ON a.shape = b.shape;
```
|id_a|shape_a|id_b|shape_b|
|-|-|-|-|
|1|Trójkąt|2|Trójkąt|
|2|Kwadrat|1|Kwadrat|
|3|Deltoid"|NULL|NULL|
|4|Traper|NULL|NULL|
|NULL|NULL|3|Romb|
|NULL|NULL|4|Równoległobok|

## Podzapytania

Podzapytanie zagnieżdżone SELECT znajduje się wewnątrz zewnętrznego zapytania SELECT, np. po klauzuli WHERE, HAVING lub FROM. W przypadku tego rodzaju zapytań w pierwszej kolejności wykonywane są wewnętrzne zapytania SELECT, a ich wynik jest wykorzystywany do zewnętrznego zapytania SELECT. Stąd łatwo zuważyć, że mogą one służyć do poprawy wydajności obsługi zapytania. Należy dobierać podzapytania tak by najbardziej zagnieżdżone podzapytanie zawierało najmniejszy zbiór poszukiwań. 

#### Przykład:
Jeżeli chcemy znaleźć w bazie informację o tytułach filmów zwróconych w zadanym okresie możemy wykonać następujące zapytanie:
```sql
SELECT
   film_id,
   title
FROM
   film
WHERE
   film_id IN (
      SELECT
         inventory.film_id
      FROM
         rental
      INNER JOIN inventory ON inventory.inventory_id = rental.inventory_id
      WHERE
         return_date BETWEEN '2005-05-29'
      AND '2005-05-30'
   );
```

#### Wynik
|film_id|title|
|-|-|
|307|Fellowship Autumn|
|255|Driving Polish|
|388|Gunfight Moon|
|130|Celebrity Horn|
|563|Massacre Usual|
|397|Hanky October|
|...|...|

### Używanie podzapytań

Pod zapytania mogą być używane w :
- SELECT,
- UPDATE,
- DELETE,
- Funkcjach agregujących,
- Do definiowania tabel tymczasowych.

Używając podzapytań zapytania SQL szybko mogą stać się mało czytelne. Przez co będą trudne w zrozumieniu i późniejszym utrzymaniu. W celu analizy zapytań można użyć klauzuli __EXPLAIN__, która przeanalizuje zapytanie. Klauzula ta może służyć również do porównywania wydajności zapytań

#### Przykład:
```sql
EXPLAIN SELECT
   *
FROM
   film
```

## Funkcje agregujące

Funkcje agregujące wykonują obliczenia na zestawie wierszy i zwracają pojedynczy wiersz. PostgreSQL udostępnia wszystkie standardowe funkcje agregujące SQL w następujący sposób:
- AVG () - zwraca średnią wartość.
- COUNT () - zwraca liczbę wartości.
- MAX () - zwraca maksymalną wartość.
- MIN () - zwraca minimalną wartość.
- SUM () - zwraca sumę wszystkich lub różnych wartości.

Pełna lista funkcji agregującej: https://www.postgresql.org/docs/9.5/functions-aggregate.html

Często używamy funkcji agregujących z klauzulą GROUP BY w instrukcji SELECT. W tych przypadkach klauzula GROUP BY dzieli zestaw wyników na grupy wierszy i funkcja agregująca wykonuje obliczenia dla każdej grupy, np. maksimum, minimum, średnia itp. Funkcji agregujących można używać funkcji agregujących jako wyrażeń tylko w następujących klauzulach: SELECT i HAVING.

### GROUP BY
Klauzula GROUP BY dzieli wiersze zwrócone z instrukcji SELECT na grupy. Dla  każdej grupy można zastosować funkcję agregującą, np. SUM aby obliczyć sumę pozycji lub
COUNT aby uzyskać liczbę elementów w grupach.

Poniższa instrukcja ilustruje składnię klauzuli GROUP BY:
```sql
SELECT 
    column_1, 
    aggregate_function(column_2)
FROM 
    tbl_name
GROUP BY 
    column_1;
```
Klauzula GROUP BY musi pojawić się zaraz po klauzuli FROM lub WHERE, n0astępnie GROUP BY zawiera listę  kolumna oddzielonych przecinkami. 

### HAVING
Często używamy klauzuli HAVING w połączeniu z klauzulą GROUP BY do filtrowania wierszy grup
które nie spełniają określonego warunku.

Poniższa instrukcja ilustruje typową składnię klauzuli HAVING:
```sql
SELECT
    column_1,
    aggregate_function (column_2)
FROM
    tbl_name
GROUP BY
    column_1
HAVING
    condition;
```
Klauzula HAVING ustawia warunek dla wierszy grup utworzonych przez klauzulę GROUP BY.  

Klauzula GROUP BY ma zastosowanie, podczas gdy klauzula WHERE określa wcześniej warunki dla poszczególnych wierszy.

## Zadania wprowadzające
Wykonaj zapytania przy użyciu DBMS:  
  
1. Znajdź listę wszystkich filmów o tej samej długości.
2. Znajdź wszystkich klientów mieszkających w tym samym mieście.
3. Oblicz średni koszt wypożyczenia wszystkich filmów.
4. Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.
5. Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.
6. Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.
7. Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.
8. Oblicz średnią wartość wypożyczenia filmu.
9. Oblicz średnią wartość długości filmu we wszystkich kategoriach.
10. Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.
11. Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.

In [1]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)
connection_sqlalchemy = db.connect()

import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

## Zadanie 1. Znajdź listę wszystkich filmów o tej samej długości.

In [2]:
txt = """
    SELECT count(film_id) , length 
    FROM film 
    GROUP BY length
"""
pd.set_option('display.max_rows', None)
df = pd.read_sql(txt, con=connection_sqlalchemy)
df

     count  length
0        4     116
1        8     184
2        6      87
3        7      71
4        5      68
5        7      51
6       10      80
7        5     146
8        7      70
9        7      52
10       5     162
11       8     132
12      13      84
13       4     170
14      10     176
15       6     169
16      11      92
17       7     101
18       6      69
19       7     180
20       7     115
21      10     114
22       8      60
23       4      97
24      13     112
25       5     108
26       4     156
27       9      59
28      10     135
29       7      65
30       5     127
31       4     124
32       8      98
33       6     149
34       7     173
35      12      73
36       9     103
37       9     161
38       8     121
39       5     117
40       4      88
41       7      82
42       7     125
43       6     119
44       8     113
45       9     153
46       9     147
47       9     120
48       6      79
49      11      48
50      17      85
51       4      72
52       2      95
53       7      57
54       3      81
55      10      61
56       6     160
57       6      77
58       8     172
59       5     131
60       6     104
61       8     171
62       5     165
63       5      56
64       7     151
65       6      91
66      12      74
67      13     179
68       6      54
69       6     138
70      10     181
71       2      96
72       8      67
73       6      83
74       9      63
75       5      90
76       6     105
77       6     174
78      10     107
79       5     134
80       5      86
81       8     144
82       7     163
83       4     168
84       8      93
85       6      89
86       6     175
87       9      50
88      11     102
89       7     167
90       2      66
91       7     109
92       6     158
93       6     155
94       8     118
95       5     133
96       7     111
97       6      62
98       7     123
99      10      75
100      7     128
101      9     126
102      5     166
103      8      99
104      7     142
105      9     152
106      5      46
107      6     157
108      9      53
109      5     183
110     12     100
111      9     136
112      8     150
113      5     140
114     11     139
115      4     164
116      9     137
117      6      78
118      6     159
119      7     141
120     11     122
121      4      94
122      7     154
123      5      49
124      7      47
125      6     177
126      6     182
127      7      76
128      6     106
129      9      64
130     10     185
131      9     110
132     10     178
133      7     145
134      2      55
135      7     148
136      7     129
137      6     130
138      7     143
139      7      58

## Zadanie 2. Znajdź wszystkich klientów mieszkających w tym samym mieście.

In [3]:
txt = """
    SELECT ci.city , count(customer_id)
    FROM customer c
    INNER JOIN address ad ON ad.address_id = c.address_id
    INNER JOIN city ci ON ci.city_id = ad.city_id
    GROUP BY ci.city
"""

pd.set_option('display.max_rows', None)
df = pd.read_sql(txt, con=connection_sqlalchemy)

df

                           city  count
0                     Southport      1
1                        Taguig      1
2                         Tokat      1
3                       Atlixco      1
4                      Mukateve      1
5                     Pontianak      1
6                      Gatineau      1
7                   Saint-Denis      1
8                     Molodetno      1
9                       Yingkou      1
10                     Changhwa      1
11                       Rampur      1
12                      Caracas      1
13                    Apeldoorn      1
14                     Omdurman      1
15                       Mwanza      1
16                        Satna      1
17                        Hanoi      1
18               San Bernardino      1
19                   Battambang      1
20                     Boksburg      1
21                    Ogbomosho      1
22                         Idfu      1
23                     Bradford      1
24                    Gorontalo      1
25                       Ilorin      1
26                Grand Prairie      1
27                       Leshan      1
28                     Syrakusa      1
29                      Arecibo      1
30                      Salinas      1
31                     Toulouse      1
32                      NDjamna      1
33      Berhampore (Baharampur)      1
34              Almirante Brown      1
35                       Tafuna      1
36                    Najafabad      1
37                       Jhansi      1
38                     Maracabo      1
39                       Touliu      1
40                       Karnal      1
41                 Shahr-e Kord      1
42                        Nador      1
43                  Zhezqazghan      1
44                      Udaipur      1
45                      Zaoyang      1
46                   Portoviejo      1
47                       Yantai      1
48                       Moscow      1
49                      Zapopan      1
50        Allappuzha (Alleppey)      1
51                     Smolensk      1
52                     Iwatsuki      1
53                       Etawah      1
54                          Oyo      1
55                   al-Qadarif      1
56                       Tabora      1
57                      Lungtan      1
58                       Oshawa      1
59                        Omiya      1
60              Jastrzebie-Zdrj      1
61                     Lilongwe      1
62                     Hamilton      1
63                       Ashdod      1
64                   Lubumbashi      1
65                    Pathankot      1
66                     Chisinau      1
67                      Bayugan      1
68                      Weifang      1
69          Santa Brbara dOeste      1
70                      Roanoke      1
71                        Korla      1
72               Angra dos Reis      1
73                        Tychy      1
74                    al-Hawiya      1
75                     Bhilwara      1
76                     Serpuhov      1
77                         Bern      1
78                     Araatuba      1
79                    Salamanca      1
80                    Balikesir      1
81                       Chapra      1
82                       Lublin      1
83                    Florencia      1
84                       Carmen      1
85                     Sogamoso      1
86                        Tieli      1
87                     Jinchang      1
88                     Salzburg      1
89                       Kaduna      1
90                       Peoria      1
91                      Jinzhou      1
92                      Hodeida      1
93                     Osmaniye      1
94                      Asuncin      1
95                        Batna      1
96                        Ponce      1
97      Augusta-Richmond County      1
98                   Tuguegarao      1
99                       Amroha      1
100                        Oulu      1
101                     Bilbays      1
102                    El Monte      1
103         guas Lindas de Gois      1
104                Juiz de Fora      1
105                       Sanaa      1
106                        Tete      1
107                      al-Ayn      1
108                Vicente Lpez      1
109           Citt del Vaticano      1
110                      Skikda      1
111                    Jamalpur      1
112                    Shaoguan      1
113                        Ipoh      1
114                        Ueda      1
115                   Changzhou      1
116                     Compton      1
117                      London      2
118                      Baiyin      1
119                     Brescia      1
120                         Sal      1
121           Usolje-Sibirskoje      1
122                   Bucuresti      1
123                  South Hill      1
124                    Shenzhen      1
125                       Adoni      1
126                  Cuernavaca      1
127         Bandar Seri Begawan      1
128                  Miyakonojo      1
129                    Haiphong      1
130                       Cheju      1
131           Uttarpara-Kotrung      1
132                         Ede      1
133             s-Hertogenbosch      1
134                      Chiayi      1
135                     Athenai      1
136                      Dayton      1
137              Poos de Caldas      1
138                 Kanchrapara      1
139                      Maikop      1
140                      Xintai      1
141     Kowloon and New Kowloon      1
142                    Uijongbu      1
143                     Springs      1
144                   Cuauhtmoc      1
145                  Rae Bareli      1
146  San Felipe de Puerto Plata      1
147                  Benin City      1
148                Huixquilucan      1
149                   Arlington      1
150                       Inegl      1
151                Garden Grove      1
152                     Quilmes      1
153                     Meixian      1
154                        Baku      1
155                      Ozamis      1
156                  Botshabelo      1
157            Ourense (Orense)      1
158                        Tama      1
159                      Sasebo      1
160                      Namibe      1
161                     Gingoog      1
162                   Halisahar      1
163                   Ljubertsy      1
164                   Bydgoszcz      1
165                      Qalyub      1
166                        Ondo      1
167                        Gijn      1
168                      Bislig      1
169                     Tonghae      1
170                     Bamenda      1
171                        Abha      1
172                       Davao      1
173              Tel Aviv-Jaffa      1
174                     Tangail      1
175     San Felipe del Progreso      1
176        Vitria de Santo Anto      1
177                      Sousse      1
178                    Bhusawal      1
179                     Robamba      1
180                  Sagamihara      1
181                   Boa Vista      1
182            Jalib al-Shuyukh      1
183                    Yinchuan      1
184                     Lincoln      1
185                       Bchar      1
186                   Abu Dhabi      1
187                   Eskisehir      1
188               Nezahualcyotl      1
189                       Enshi      1
190                        Dadu      1
191                 Antofagasta      1
192                      Madiun      1
193                   Kurashiki      1
194                       Merlo      1
195                     Katihar      1
196                       Iwaki      1
197                        Usak      1
198                       Tiefa      1
199                Yamuna Nagar      1
200                   Deba Habe      1
201                         Owo      1
202                       Laiwu      1
203                       Kilis      1
204                    Benguela      1
205                    Alvorada      1
206                   Bhavnagar      1
207                 Lhokseumawe      1
208                       Dhaka      1
209                     Bijapur      1
210                   Pyongyang      1
211                 San Lorenzo      1
212                     Isesaki      1
213                      Ibirit      1
214                      Ezeiza      1
215                   Sincelejo      1
216                      La Paz      1
217                      Hunuco      1
218                       Beira      1
219                Johannesburg      1
220                    Dongying      1
221                   Hiroshima      1
222                       Tabuk      1
223                   Surakarta      1
224                      Sharja      1
225                  Bratislava      1
226                     Cayenne      1
227                    Songkhla      1
228                      Tarlac      1
229                      Toulon      1
230                        York      1
231                       Tegal      1
232                       Taizz      1
233                  Ahmadnagar      1
234                     Pereira      1
235                 Sultanbeyli      1
236                     Tsaotun      1
237                        Belm      1
238        So Bernardo do Campo      1
239                       Okara      1
240                     Cabuyao      1
241                  Vila Velha      1
242             Purnea (Purnia)      1
243                 Halle/Saale      1
244                     Luzinia      1
245                 Mandaluyong      1
246                      Celaya      1
247                      Fuzhou      1
248                     Ivanovo      1
249                    Fengshan      1
250                  Manchester      1
251                       Ezhou      1
252                    Brockton      1
253                       Tartu      1
254                   Kamarhati      1
255                       Udine      1
256                   Sunnyvale      1
257                  Chatsworth      1
258                    Mogiljov      1
259                  Kermanshah      1
260                   Nha Trang      1
261                     Korolev      1
262                     Papeete      1
263                  Jos Azueta      1
264                     Allende      1
265                      Goinia      1
266                    Kamakura      1
267                      Daxian      1
268                     Sambhal      1
269                       Akron      1
270                      Kamyin      1
271                      Jining      1
272                      Banjul      1
273               Lengshuijiang      1
274                      Aurora      2
275                    Pak Kret      1
276             Ciudad del Este      1
277           Valle de Santiago      1
278                      Crdoba      1
279                      Haldia      1
280                    Ambattur      1
281                        Acua      1
282                     Qomsheh      1
283                     Binzhou      1
284                    Baicheng      1
285                    Gulbarga      1
286                    Kanazawa      1
287                       Jurez      1
288                  Chandrapur      1
289                     Shanwei      1
290                     Braslia      1
291                      Sawhaj      1
292                       Sucre      1
293                      Mardan      1
294           Huejutla de Reyes      1
295                       Cuman      1
296                    Koriyama      1
297                  Cape Coral      1
298                 Czestochowa      1
299               Sungai Petani      1
300                       Kitwe      1
301                     Chungho      1
302                    Monclova      1
303          A Corua (La Corua)      1
304                     Anpolis      1
305                        Otsu      1
306              Citrus Heights      1
307                  Daugavpils      1
308                       Junan      1
309                      Jaffna      1
310                    Sorocaba      1
311  Santiago de los Caballeros      1
312                   Liaocheng      1
313                      Ktahya      1
314                      Hohhot      1
315                        Fuyu      1
316                       Paarl      1
317                Zeleznogorsk      1
318                        Aden      1
319                       Vaduz      1
320       Donostia-San Sebastin      1
321                     Shimoga      1
322                    Emeishan      1
323                      Tarsus      1
324                    Zalantun      1
325         Aparecida de Goinia      1
326                   Rio Claro      1
327             Mandi Bahauddin      1
328                       Plock      1
329                    Zhoushan      1
330                     Santa F      1
331                   Stockport      1
332                     Denizli      1
333                      Cavite      1
334                     Konotop      1
335                          Po      1
336                      Batman      1
337                 Szkesfehrvr      1
338                      Bhopal      1
339                      Siegen      1
340                 Alessandria      1
341                 So Leopoldo      1
342                       Adana      1
343                     Wroclaw      1
344                     Hagonoy      1
345                  Kragujevac      1
346                 Guadalajara      1
347          Valle de la Pascua      1
348                   El Fuerte      1
349                      Iligan      1
350                  Avellaneda      1
351                    Novi Sad      1
352                 Gandhinagar      1
353                    Cam Ranh      1
354                      Yaound      1
355                        Naju      1
356                        Malm      1
357         Kamjanets-Podilskyi      1
358                    Valparai      1
359                 Tallahassee      1
360               Richmond Hill      1
361                   Mit Ghamr      1
362                     Garland      1
363                 Clarksville      1
364                     Nanyang      1
365                     Kimchon      1
366                Stara Zagora      1
367                       Urawa      1
368                   al-Manama      1
369                   Teboksary      1
370                  Pjatigorsk      1
371           Nabereznyje Telny      1
372                        Pune      1
373                      Matsue      1
374                    Funafuti      1
375             Southend-on-Sea      1
376                     Trshavn      1
377  San Juan Bautista Tuxtepec      1
378                   Balurghat      1
379                 Naala-Porto      1
380                     Fontana      1
381                     Tsuyama      1
382                     Olomouc      1
383                      Jelets      1
384                   Vancouver      1
385                      Datong      1
386                      Atinsk      1
387                       Mosul      1
388                    Rancagua      1
389                   Shivapuri      1
390        Siliguri (Shiliguri)      1
391                  Saarbrcken      1
392                      Nantou      1
393                      Tandil      1
394                     Jodhpur      1
395                      Laredo      1
396                      Jaipur      1
397                  Santa Rosa      1
398                    Botosani      1
399                     Haining      1
400                  Amersfoort      1
401              Dhule (Dhulia)      1
402                     Memphis      1
403                 Saint Louis      1
404                      Dallas      1
405                      Witten      1
406                      Kurgan      1
407                     Livorno      1
408                       Kursk      1
409                    Uluberia      1
410                  Vijayawada      1
411                    Tongliao      1
412                     Kuching      1
413                   Newcastle      1
414                     Uruapan      1
415                  Santo Andr      1
416                  Simferopol      1
417                     Cianjur      1
418                     Iwakuni      1
419                     Cuautla      1
420                  Rustenburg      1
421                      Patras      1
422                   Izumisano      1
423                   Barcelona      1
424                    Xinxiang      1
425                      Suihua      1
426                Nakhon Sawan      1
427                     Jakarta      1
428                     Sullana      1
429                      Ranchi      1
430                      Monywa      1
431      Santiago de Compostela      1
432                   Shikarpur      1
433                  Klerksdorp      1
434                 Shimonoseki      1
435          Varanasi (Benares)      1
436                    Zanzibar      1
437                    Sumqayit      1
438                        Sumy      1
439                   Gaziantep      1
440                    Ashqelon      1
441                     Halifax      1
442                        Graz      1
443                 Pudukkottai      1
444                    Nam Dinh      1
445                     Bat Yam      1
446                    Valencia      1
447                    Brindisi      1
448                       Zaria      1
449                    Lausanne      1
450                       Sanya      1
451               Coatzacoalcos      1
452                 Probolinggo      1
453                      Elista      1
454                       Kabul      1
455               Dos Quebradas      1
456                     Tanshui      1
457                     Vilnius      1
458                        Hino      1
459           Juazeiro do Norte      1
460                    Duisburg      1
461                Effon-Alaiye      1
462                   Dzerzinsk      1
463                      Sirjan      1
464                     Okinawa      1
465                      Maring      1
466                    Xiangfan      1
467                        Linz      1
468                      Guaruj      1
469                      Sokoto      1
470               Hubli-Dharwad      1
471                      Kisumu      1
472                      Ikerre      1
473                    Rockford      1
474                    Akishima      1
475                 Qinhuangdao      1
476          Palghat (Palakkad)      1
477                        Vinh      1
478                 Addis Abeba      1
479                       Miraj      1
480                   Mahajanga      1
481                      Rajkot      1
482                      Yuzhou      1
483                      Mysore      1
484              Kirovo-Tepetsk      1
485                       Emmen      1
486                 Kaliningrad      1
487                     Bergamo      1
488                    Tambaram      1
489                    Mannheim      1
490                      Masqat      1
491                    Erlangen      1
492                      Torren      1
493                     Balaiha      1
494                      Callao      1
495                     Kolpino      1
496                       Basel      1
497                   Nukualofa      1
498                     Escobar      1
499                     Tanauan      1
500                      Salala      1
501                Higashiosaka      1
502                     Ciparay      1
503                   Syktyvkar      1
504                       ostka      1
505                Kakamigahara      1
506                     Patiala      1
507                       Sivas      1
508              Pangkal Pinang      1
509                   La Romana      1
510                        Hami      1

## Zadanie 3. Oblicz średni koszt wypożyczenia wszystkich filmów.

In [4]:
txt = """
    SELECT AVG(rental_rate)
    FROM film
"""
df = pd.read_sql(txt, con=connection_sqlalchemy)

df

    avg
0  2.98

## Zadanie 4. Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

In [5]:
txt = """
    SELECT c.name, count(f_c.film_id)
    FROM category c
    INNER JOIN film_category f_c ON f_c.category_id = c.category_id
    GROUP BY c.name
"""
df = pd.read_sql(txt, con=connection_sqlalchemy)

df

           name  count
0        Sports     74
1      Classics     57
2           New     63
3        Family     69
4        Comedy     58
5     Animation     66
6        Travel     57
7         Music     51
8         Drama     62
9        Horror     56
10       Sci-Fi     61
11        Games     61
12  Documentary     68
13      Foreign     73
14       Action     64
15     Children     60

## Zadanie 5. Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

In [6]:
txt = """
    SELECT count(customer_id), coun.country
    FROM customer c
    INNER JOIN address add ON add.address_id = c.address_id
    INNER JOIN city ci On ci.city_id = add.city_id
    INNER JOIN country coun ON coun.country_id = ci.country_id
    GROUP BY coun.country
"""

df = pd.read_sql(txt, con=connection_sqlalchemy)

df

     count                                country
0        3                             Bangladesh
1       14                              Indonesia
2        7                              Venezuela
3        2                               Cameroon
4        1                         Czech Republic
5        1                                 Sweden
6        3                     Dominican Republic
7        2                               Cambodia
8        1                         American Samoa
9        1                              Sri Lanka
10       1                                 Brunei
11       1                                Finland
12       6                               Colombia
13       6                                Ukraine
14       5                           Saudi Arabia
15       2                                 Latvia
16       1                            North Korea
17       1          Holy See (Vatican City State)
18       3                                Algeria
19       4                                 France
20       1                               Slovakia
21       4                                 Israel
22       1                                  Nauru
23       1                                Senegal
24       2                                  Kenya
25       3                               Malaysia
26       1                                 Zambia
27       1                             Madagascar
28       1                              Hong Kong
29       1                                 Kuwait
30      20                            Philippines
31       1                                 Tuvalu
32      36                          United States
33      15                                 Turkey
34      13                                Nigeria
35      53                                  China
36       1                                Armenia
37       2                                Belarus
38       5                            Netherlands
39       3                               Paraguay
40       2                                 Angola
41       1                                Bahrain
42       5                                  Spain
43       3                   United Arab Emirates
44       1                                 Malawi
45      10                                 Taiwan
46       3                               Thailand
47       1                          Faroe Islands
48       7                                  Italy
49       2                                   Oman
50       2  Congo, The Democratic Republic of the
51       9                         United Kingdom
52       7                                Germany
53       5                                 Canada
54       1                               Anguilla
55       5                            South Korea
56       1       Saint Vincent and the Grenadines
57       1                                 Runion
58      13                              Argentina
59       1                          Liechtenstein
60       2                             Azerbaijan
61       6                                  Egypt
62       2                                 Greece
63       1                            Afghanistan
64       1                                   Chad
65       2                            Puerto Rico
66      60                                  India
67       8                                   Iran
68       2                       French Polynesia
69       3                                  Chile
70       1                                 Gambia
71       1                                Estonia
72       6                                Vietnam
73      11                           South Africa
74       4                                   Peru
75       2                              Kazakstan
76       2                             Yugoslavia
77      31                                  Japan
78       1                                   Iraq
79       3                             Mozambique
80       3                            Switzerland
81       3                                Ecuador
82       1                            New Zealand
83       1                                Hungary
84       5                               Pakistan
85      28                     Russian Federation
86       2                                Romania
87      28                                 Brazil
88       3                                Austria
89       2                                Bolivia
90       1                               Ethiopia
91       4                                  Yemen
92       1                              Lithuania
93       2                               Bulgaria
94       1                           Turkmenistan
95       1                                Tunisia
96       2                                  Sudan
97       3                                Morocco
98       1                                Moldova
99       2                                Myanmar
100     30                                 Mexico
101      1                                  Tonga
102      1                                  Nepal
103      3                               Tanzania
104      8                                 Poland
105      1                              Greenland
106      1                          French Guiana
107      1                   Virgin Islands, U.S.

## Zadanie 6. Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

In [7]:
txt = """
    SELECT st.store_id, st.manager_staff_id , st.address_id , count(c.customer_id)
    FROM store st
    INNER JOIN address add ON add.last_update = st.last_update
    INNER JOIN customer c ON c.address_id = add.address_id
    GROUP BY st.store_id
    HAVING count(c.customer_id) BETWEEN 100 and 300
"""

df = pd.read_sql(txt, con=connection_sqlalchemy)

df

Empty DataFrame
Columns: [store_id, manager_staff_id, address_id, count]
Index: []

## Zadanie 7. Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

In [8]:
txt = """
    SELECT c.customer_id, sum(f.length)
    FROM customer c
    INNER JOIN rental r ON r.customer_id = c.customer_id
    INNER JOIN inventory inv ON inv.inventory_id = r.inventory_id
    INNER JOIN film f ON f.film_id = inv.film_id
    GROUP BY c.customer_id
    HAVING sum(f.length) > 12000
"""

df = pd.read_sql(txt, con=connection_sqlalchemy)

df

Empty DataFrame
Columns: [customer_id, sum]
Index: []

## Zadanie 8. Oblicz średnią wartość wypożyczenia filmu.

In [9]:
txt = """
    SELECT AVG(amount)
    FROM payment
"""
df = pd.read_sql(txt, con=connection_sqlalchemy)

df

        avg
0  4.200606

## Zadanie 9. Oblicz średnią wartość długości filmu we wszystkich kategoriach.

In [10]:
txt = """
    SELECT c.name, AVG(f.length)
    FROM category c
    INNER JOIN film_category f_c ON f_c.category_id = c.category_id
    INNER JOIN film f ON f.film_id = f_c.film_id
    GROUP BY c.name
"""
df = pd.read_sql(txt, con=connection_sqlalchemy)

df

           name         avg
0        Sports  128.202703
1      Classics  111.666667
2           New  111.126984
3        Family  114.782609
4        Comedy  115.827586
5     Animation  111.015152
6        Travel  113.315789
7         Music  113.647059
8         Drama  120.838710
9        Horror  112.482143
10       Sci-Fi  108.196721
11        Games  127.836066
12  Documentary  108.750000
13      Foreign  121.698630
14       Action  111.609375
15     Children  109.800000

## Zadanie 10. Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.

In [11]:
txt = """
    SELECT c.name, f.title 
    FROM category c
    INNER JOIN film_category f_c ON f_c.category_id = c.category_id
    INNER JOIN film f ON f.film_id = f_c.film_id
    WHERE (c.name , f.length) IN (
        SELECT c.name , MAX(f.length)
        FROM category
        INNER JOIN film_category f_c ON f_c.category_id = c.category_id
        INNER JOIN film f ON f.film_id = f_c.film_id
        GROUP BY c.name
    )
"""

df = pd.read_sql(txt, con=connection_sqlalchemy)

df

           name               title
0        Horror    Analyze Hoosiers
1         Games       Chicago North
2      Classics   Conspiracy Spirit
3        Comedy      Control Anthem
4       Foreign    Crystal Breaking
5        Action      Darn Forrester
6           New      Frontier Cabin
7      Children         Fury Murder
8     Animation         Gangs Pride
9         Music           Home Pity
10        Drama       Jacket Frisco
11       Family      King Evolution
12       Horror       Love Suicides
13       Travel       Muscle Bright
14    Animation        Pond Seattle
15       Sports     Smoochy Control
16       Sci-Fi  Soldiers Evolution
17      Foreign      Sorority Queen
18       Travel   Sweet Brotherhood
19  Documentary           Wife Turn
20       Action        Worst Banger
21     Children      Wrong Behavior
22  Documentary      Young Language

## Zadanie 11. Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.

In [12]:
txt = """
    SELECT f.title, f.length
    FROM film f
    WHERE f.length IN (
        SELECT MAX(f.length)
        FROM film f
    )
"""

df = pd.read_sql(txt, con=connection_sqlalchemy)

df

                title  length
0       Chicago North     185
1      Control Anthem     185
2      Darn Forrester     185
3         Gangs Pride     185
4           Home Pity     185
5       Muscle Bright     185
6        Pond Seattle     185
7  Soldiers Evolution     185
8   Sweet Brotherhood     185
9        Worst Banger     185

## Zadanie implementacyjne
Zaimplementuj wszystkie funkcje w pliku main.py zgodnie z opisem a następnie przetestuj je w notatniku.

In [13]:
import main

In [14]:
main.film_in_category(1)

                      title               languge category
0              Amadeus Holy  English                Action
1           American Circus  English                Action
2        Antitrust Tomatoes  English                Action
3             Ark Ridgemont  English                Action
4       Barefoot Manchurian  English                Action
5              Berets Agent  English                Action
6            Bride Intrigue  English                Action
7            Bull Shawshank  English                Action
8           Caddyshack Jedi  English                Action
9           Campus Remember  English                Action
10        Casualties Encino  English                Action
11           Celebrity Horn  English                Action
12          Clueless Bucket  English                Action
13              Crow Grease  English                Action
14              Dances None  English                Action
15             Darko Dorado  English                Action
16           Darn Forrester  English                Action
17             Devil Desire  English                Action
18             Dragon Squad  English                Action
19             Dream Pickup  English                Action
20     Drifter Commandments  English                Action
21           Easy Gladiator  English                Action
22  Entrapment Satisfaction  English                Action
23           Excitement Eve  English                Action
24         Fantasy Troopers  English                Action
25        Firehouse Vietnam  English                Action
26         Fool Mockingbird  English                Action
27             Forrest Sons  English                Action
28              Glass Dying  English                Action
29           Gosford Donnie  English                Action
30       Grail Frankenstein  English                Action
31        Handicap Boondock  English                Action
32          Hills Neighbors  English                Action
33            Kissing Dolls  English                Action
34            Lawrence Love  English                Action
35             Lord Arizona  English                Action
36                Lust Lock  English                Action
37       Magnolia Forrester  English                Action
38        Midnight Westward  English                Action
39             Minds Truman  English                Action
40    Mockingbird Hollywood  English                Action
41        Montezuma Command  English                Action
42             Park Citizen  English                Action
43            Patriot Roman  English                Action
44            Primary Glass  English                Action
45          Quest Mussolini  English                Action
46             Rear Trading  English                Action
47      Rings Heartbreakers  English                Action
48      Rugrats Shakespeare  English                Action
49            Shrunk Divine  English                Action
50                 Side Ark  English                Action
51              Sky Miracle  English                Action
52               South Wait  English                Action
53           Speakeasy Date  English                Action
54    Stagecoach Armageddon  English                Action
55               Story Side  English                Action
56          Suspects Quills  English                Action
57              Trip Newton  English                Action
58             Truman Crazy  English                Action
59          Uprising Uptown  English                Action
60   Waterfront Deliverance  English                Action
61            Werewolf Lola  English                Action
62             Women Dorado  English                Action
63             Worst Banger  English                Action

In [15]:
main.number_films_in_category(10)

  category  count
0    Games     61

In [16]:
main.number_film_by_length(185)

   length  count
0     185     10

In [17]:
main.client_from_city("Touliu")

     city first_name last_name
0  Touliu      Amber     Dixon

In [18]:
main.avg_amount_by_length(185)

   length       avg
0     185  4.523333

In [19]:
main.client_by_sum_length(100)

      first_name     last_name   sum
0          Brian         Wyman  1265
1        Antonio          Meek  1451
2          Leona        Obrien  1588
3      Katherine        Rivera  1615
4        Tiffany        Jordan  1667
5         Jerome        Kenyon  1679
6          Penny          Neal  1738
7         Lonnie        Tirado  1834
8         Dwight      Lombardi  1846
9         Johnny        Turpin  1846
10      Caroline        Bowman  1847
11         Allan       Cornish  1916
12         Lewis         Lyman  1933
13        Lester         Kraus  1943
14           Eva         Ramos  1945
15        Austin       Cintron  1961
16         Joann       Gardner  1963
17         Annie       Russell  1965
18      Jonathan   Scarborough  1984
19         Anita       Morales  1999
20        Eileen          Carr  2031
21       Kenneth        Gooden  2033
22         Wayne        Truong  2044
23         Floyd         Gandy  2063
24         Paula        Bryant  2084
25        Nellie       Garrett  2098
26       Vanessa          Sims  2103
27            Jo        Fowler  2107
28         Ruben         Geary  2107
29         Oscar        Aquino  2119
30        Nelson   Christenson  2119
31          Irma       Pearson  2128
32       Kristen        Chavez  2130
33           Kay      Caldwell  2133
34       Armando        Gruber  2142
35        Sheila         Wells  2148
36        Eugene     Culpepper  2158
37     Christina       Ramirez  2178
38      Jeanette        Greene  2197
39           Ann         Evans  2202
40          Rose        Howard  2208
41         Edith      Mcdonald  2210
42          Raul       Fortier  2212
43         Lloyd          Dowd  2231
44           Kim          Cruz  2236
45        Bonnie        Hughes  2241
46         Julio        Noland  2258
47          Kirk       Stclair  2258
48        Vernon         Chapa  2270
49        Nicole      Peterson  2271
50         Norma      Gonzales  2272
51          Vera         Mccoy  2275
52       Melinda     Fernandez  2281
53       Willard       Lumpkin  2285
54        Samuel        Marlow  2291
55        Leslie        Gordon  2296
56          Jill       Hawkins  2313
57         Jared           Ely  2314
58       Frances        Parker  2317
59         Henry   Billingsley  2325
60         Allen   Butterfield  2329
61       Timothy          Bunn  2334
62       Alfredo       Mcadams  2357
63         Corey        Hauser  2358
64      Franklin      Troutman  2366
65     Frederick        Isbell  2367
66          Sean      Douglass  2376
67        Daniel        Cabral  2380
68          Luis         Yanez  2380
69         Laura     Rodriguez  2384
70      Lorraine      Stephens  2388
71         Kelly        Torres  2397
72         Tyler          Wren  2404
73       Delores        Hansen  2413
74       Roberta        Harper  2417
75     Francisco      Skidmore  2417
76         Carol        Garcia  2425
77          Tony      Carranza  2437
78          Adam         Gooch  2437
79          Joel     Francisco  2440
80        Pamela         Baker  2455
81        Lauren        Hudson  2462
82         Terry       Grissom  2464
83          Chad       Carbone  2473
84          Toni          Holt  2474
85         Chris      Brothers  2475
86        Rafael         Abney  2477
87        Darryl      Ashcraft  2477
88         Irene         Price  2480
89        Adrian         Clary  2483
90         Jacob         Lance  2483
91        Andrea     Henderson  2487
92          Anne        Powell  2490
93          Juan        Fraley  2495
94       Derrick       Bourque  2497
95         Jesus     Mccartney  2500
96       Anthony        Schwab  2503
97        Robert      Baughman  2504
98        Yvonne       Watkins  2513
99        Alicia         Mills  2518
100       Carlos      Coughlin  2522
101         Anna          Hill  2522
102      Herbert        Kruger  2534
103       Donald         Mahon  2538
104         Hugh       Waldrop  2540
105       Rachel        Barnes  2543
106      Francis         Sikes  2547
107      Randall       Neumann  2552
108        Kevin       Schuler  2552
109          Jon         Wiles  2552
110          Sam      Mcduffie  2576
111       Mattie       Hoffman  2580
112      Barbara         Jones  2580
113         Judy          Gray  2581
114        Peggy         Myers  2590
115       Harvey      Guajardo  2593
116        Lance     Pemberton  2593
117      Beverly        Brooks  2607
118        Peter        Menard  2609
119        Cecil         Vines  2614
120     Marshall         Thorn  2616
121        Danny          Isom  2619
122       Laurie      Lawrence  2619
123       Stella        Moreno  2632
124         Tara          Ryan  2634
125         Fred         Wheat  2634
126        Brent       Harkins  2639
127       Albert        Crouse  2641
128        Wilma      Richards  2641
129    Christine       Roberts  2641
130        Pearl         Garza  2642
131         Rene     Mcalister  2643
132         Carl         Artis  2644
133      Melanie     Armstrong  2645
134      Chester        Benner  2646
135        Shane       Millard  2649
136       Vivian          Ruiz  2649
137         Jose        Andrew  2654
138        Marie        Turner  2656
139      Phyllis        Foster  2658
140       Lillie           Kim  2658
141       Bertha      Ferguson  2663
142       Alfred      Casillas  2665
143      Colleen        Burton  2668
144         Ruth      Martinez  2669
145         Kurt        Emmons  2672
146       Miriam      Mckinney  2672
147       Mathew         Bolin  2673
148       Jeremy       Hurtado  2673
149         Andy       Vanhorn  2675
150      Dolores        Wagner  2677
151      Shannon       Freeman  2678
152      Jeffrey         Spear  2678
153     Margaret         Moore  2680
154      Maureen        Little  2681
155    Josephine         Gomez  2682
156       Rodney       Moeller  2682
157      Vincent       Ralston  2684
158     Victoria        Gibson  2685
159       Martin         Bales  2689
160      Freddie        Duggan  2689
161        Aaron         Selby  2691
162       Travis         Estep  2694
163       Roland         South  2695
164        Emily          Diaz  2699
165      Kathryn       Coleman  2701
166        Lydia         Burke  2703
167       Norman       Currier  2706
168        Donna      Thompson  2710
169         Cody         Nolen  2711
170      Natalie         Meyer  2712
171          Bob      Pfeiffer  2719
172          Leo         Ebert  2725
173        Erica      Matthews  2727
174        Velma         Lucas  2729
175       Calvin        Martel  2730
176       Thomas       Grigsby  2731
177        Megan        Palmer  2732
178        Agnes        Bishop  2741
179     Charlene       Alvarez  2743
180       Howard       Fortner  2744
181       Ronnie      Ricketts  2748
182        Pedro      Chestnut  2750
183          Dan         Paine  2750
184      Suzanne       Nichols  2751
185        Kelly         Knott  2753
186       Marian       Mendoza  2753
187        Doris          Reed  2756
188      Annette         Olson  2759
189      Bernard         Colby  2760
190         Emma          Boyd  2767
191       Bobbie         Craig  2767
192       Darren       Windham  2778
193      Alberto       Henning  2779
194       Dwayne        Olvera  2782
195       Brandy        Graves  2785
196         Jack         Foust  2790
197        Felix       Gaffney  2791
198          Ray         Houle  2791
199        Carla     Gutierrez  2793
200       Deanna          Byrd  2795
201       Connie       Wallace  2795
202         Wade      Delvalle  2804
203      Loretta     Carpenter  2807
204        Robin         Hayes  2807
205        Bruce       Schwarz  2813
206      Dorothy        Taylor  2813
207      Ricardo        Meador  2818
208      Gregory       Mauldin  2822
209    Charlotte        Hunter  2828
210        Elmer           Noe  2828
211        Jesse     Schilling  2830
212    Christian          Jung  2831
213       Tyrone         Asher  2833
214      Johnnie      Chisholm  2835
215      Clinton        Buford  2839
216         Paul         Trout  2842
217         Edna          West  2847
218        Edwin          Burk  2849
219         Joan        Cooper  2850
220       Myrtle       Fleming  2852
221         Dora        Medina  2852
222      Micheal        Forman  2853
223      Marlene         Welch  2854
224        Jenny        Castro  2855
225       Billie        Horton  2855
226      Claudia        Fuller  2856
227      William   Satterfield  2856
228      Pauline         Henry  2857
229       Sergio     Stanfield  2859
230       Jackie         Lynch  2863
231         Leon        Bostic  2864
232         Gary           Coy  2865
233       Louise       Jenkins  2866
234       Willie        Howell  2876
235         Seth        Hannon  2877
236          Max          Pitt  2877
237         Earl        Shanks  2877
238        David         Royal  2879
239        Keith          Rico  2880
240        Larry      Thrasher  2881
241      Rebecca         Scott  2885
242       Willie       Markham  2887
243    Gwendolyn           May  2890
244         Cory        Meehan  2894
245     Fernando     Churchill  2897
246     Benjamin        Varney  2897
247         Glen       Talbert  2898
248         Lynn         Payne  2906
249         Tina       Simmons  2906
250         Jean          Bell  2907
251        Scott       Shelley  2916
252      Georgia        Jacobs  2922
253       Ernest         Stepp  2924
254         Nora       Herrera  2925
255        Jerry        Jordon  2925
256          Ida       Andrews  2927
257       Dennis        Gilman  2927
258         Rita        Graham  2929
259       Sidney      Burleson  2931
260         Dana          Hart  2931
261          Don          Bone  2934
262         Leah        Curtis  2935
263       Marvin           Yee  2939
264       Herman        Devore  2941
265      Yolanda        Weaver  2946
266    Constance          Reid  2949
267       Victor       Barkley  2950
268       Milton       Howland  2951
269       Julian          Vest  2955
270        Katie       Elliott  2960
271      Lillian       Griffin  2960
272        Stacy    Cunningham  2963
273     Kimberly           Lee  2965
274        Vicki        Fields  2966
275      Charlie          Bess  2967
276      Wallace         Slone  2969
277       Virgil       Wofford  2970
278        Linda      Williams  2971
279      Mildred        Bailey  2972
280     Jennifer         Davis  2973
281      Darrell         Power  2973
282        Ellen       Simpson  2977
283       Elaine       Stevens  2981
284     Samantha        Duncan  2982
285        Terri       Vasquez  2982
286          Ron        Deluca  2983
287        Edgar        Rhoads  2983
288       Melvin     Ellington  2988
289         Erin          Dunn  2989
290      Clayton        Barbee  2990
291       Claude        Herzog  2996
292       Carmen         Owens  2996
293      Phillip          Holm  3002
294     Kathleen         Adams  3003
295        Diana     Alexander  3007
296        Mario      Cheatham  3007
297    Stephanie      Mitchell  3008
298         Gail        Knight  3009
299      Eduardo         Hiatt  3011
300       Cheryl        Murphy  3014
301       Tamara        Nguyen  3020
302       Dianne       Shelton  3026
303        Glenn        Pullen  3029
304        Perry      Swafford  3036
305        April         Burns  3042
306         Eric        Robert  3042
307       Shelly         Watts  3042
308      Christy        Vargas  3045
309        Nancy        Thomas  3048
310         Lisa      Anderson  3049
311         Ivan      Cromwell  3052
312      Enrique      Forsythe  3052
313         Mark      Rinehart  3054
314     Kristina      Chambers  3056
315       Arlene        Harvey  3056
316      Douglas          Graf  3057
317         Alan          Kahn  3059
318        Bryan      Hardison  3067
319     Patricia       Johnson  3071
320      Valerie         Black  3075
321         Greg        Robins  3076
322        Jamie         Waugh  3076
323       Ashley    Richardson  3079
324        Hilda       Hopkins  3080
325       Hector    Poindexter  3086
326         Bill         Gavin  3087
327      Matthew         Mahan  3089
328       Brenda        Wright  3092
329      Bradley        Motley  3094
330      Gabriel        Harder  3097
331     Terrance         Roush  3100
332        Karen       Jackson  3103
333       Evelyn        Morgan  3104
334        Eddie        Tomlin  3104
335      Gilbert        Sledge  3107
336       Denise         Kelly  3109
337     Beatrice        Arnold  3112
338          Ben        Easter  3112
339         Beth      Franklin  3112
340      Michele         Grant  3113
341        Jaime       Nettles  3116
342       Amanda        Carter  3118
343         Jane       Bennett  3119
344      Lucille        Holmes  3124
345      Richard       Mccrary  3128
346       Steven        Curley  3130
347        Randy       Gaither  3132
348      Allison       Stanley  3135
349          Ian         Still  3136
350         Brad       Mccurdy  3145
351      Michael     Silverman  3145
352         Ruby    Washington  3145
353        Leroy    Bustamante  3154
354       Jordan     Archuleta  3159
355       Jessie         Banks  3159
356         Gene       Sanborn  3164
357       Gloria          Cook  3166
358      Clifton       Malcolm  3169
359        Cathy       Spencer  3170
360        Sonia       Gregory  3177
361        Ricky        Shelby  3178
362       Jennie         Terry  3184
363     Clifford        Bowens  3191
364       Tracey       Barrett  3192
365      Felicia        Sutton  3192
366     Clarence         Gamez  3193
367        Susan        Wilson  3208
368       Carole       Barnett  3215
369     Reginald        Kinder  3230
370          Jay          Robb  3233
371         Dale      Ratcliff  3235
372          Joe     Gilliland  3238
373        Byron           Box  3240
374         Rick        Mattox  3243
375        Joyce       Edwards  3244
376        Andre          Rapp  3252
377         Lucy       Wheeler  3252
378         Ross          Grey  3262
379          Ken       Prewitt  3262
380          Ted        Breaux  3263
381       Javier         Elrod  3263
382        Clyde        Tobias  3265
383        Amber         Dixon  3266
384        Erika          Pena  3266
385      Deborah        Walker  3272
386      Jeffery        Pinson  3274
387       Philip        Causey  3279
388     Theodore          Culp  3279
389       Nathan        Runyon  3282
390       Dustin      Gillette  3283
391         Nina          Soto  3284
392          Lee         Hawks  3286
393     Salvador          Teel  3296
394       Jimmie     Eggleston  3300
395       Edward         Baugh  3302
396       Joshua          Mark  3302
397         Kent     Arsenault  3305
398       Bessie      Morrison  3306
399          Guy      Brownlee  3309
400       Andrew         Purdy  3315
401       Esther      Crawford  3320
402         Erik       Guillen  3320
403        Derek       Blakely  3321
404        Jimmy      Schrader  3326
405         Dawn      Sullivan  3326
406        Terry       Carlson  3347
407       Ronald        Weiner  3354
408        Duane         Tubbs  3355
409     Danielle       Daniels  3358
410       Sandra        Martin  3360
411        Misty       Lambert  3366
412        Becky         Miles  3366
413         Dean         Sauer  3366
414      Theresa        Watson  3375
415         Olga       Jimenez  3381
416         Marc        Outlaw  3386
417       Joseph           Joy  3389
418    Nathaniel          Adam  3394
419         Todd           Tan  3398
420       Teresa        Rogers  3403
421          Roy       Whiting  3409
422     Veronica         Stone  3410
423        Betty         White  3412
424     Virginia         Green  3414
425       Miguel    Betancourt  3415
426     Lawrence        Lawton  3415
427      Patrick        Newsom  3415
428      Leonard     Schofield  3418
429      Carolyn         Perez  3419
430        Alvin       Deloach  3420
431        Isaac       Oglesby  3424
432      Juanita         Mason  3434
433    Cassandra       Walters  3435
434      Everett         Banda  3436
435        Kathy         James  3439
436        Wanda     Patterson  3446
437         Troy       Quigley  3446
438         Gina    Williamson  3446
439        James        Gannon  3448
440        Tracy      Herrmann  3448
441      Marilyn          Ross  3449
442     Brittany         Riley  3450
443        Debra        Nelson  3452
444        Tracy          Cole  3453
445       Marcus       Hidalgo  3457
446        Ramon        Choate  3459
447       Arthur      Simpkins  3463
448      Maurice       Crawley  3469
449       Monica         Hicks  3470
450        Janet      Phillips  3475
451       Audrey           Ray  3477
452       Vickie        Brewer  3484
453        Daryl         Larue  3488
454        Maria        Miller  3494
455    Geraldine       Perkins  3497
456        Alice       Stewart  3499
457        Craig       Morrell  3502
458       Manuel       Murrell  3504
459       Jeanne        Lawson  3508
460        Angel       Barclay  3510
461       Marion        Ocampo  3512
462        Patsy      Davidson  3513
463        Julia        Flores  3513
464      Roberto            Vu  3513
465       Judith           Cox  3515
466       Sharon      Robinson  3522
467         Sara         Perry  3524
468       Harold       Martino  3525
469        Renee          Lane  3536
470       Walter      Perryman  3538
471         Jeff          East  3542
472       Joanne     Robertson  3550
473          Tom        Milner  3561
474     Courtney           Day  3563
475      Heather        Morris  3567
476       Sylvia         Ortiz  3567
477         Alma        Austin  3568
478       Ramona          Hale  3568
479       Gladys      Hamilton  3571
480        Wendy      Harrison  3571
481       Violet     Rodriquez  3576
482       Jessie         Milam  3579
483          Amy         Lopez  3583
484          Joy        George  3596
485      Stephen        Qualls  3597
486       Debbie         Reyes  3597
487    Priscilla          Lowe  3606
488        Cindy        Fisher  3636
489       Gerald         Fultz  3640
490        Billy        Poulin  3649
491       Glenda       Frazier  3657
492        Shawn        Heaton  3657
493      Shirley         Allen  3662
494         Lena        Jensen  3663
495    Catherine      Campbell  3666
496        Jamie          Rice  3674
497        Sarah         Lewis  3679
498       Maxine         Silva  3682
499         Kyle      Spurlock  3686
500        Holly           Fox  3689
501       George        Linton  3689
502     Terrence     Gunderson  3694
503      Stanley     Scroggins  3694
504        Tanya       Gilbert  3700
505      Charles      Kowalski  3703
506      Raymond     Mcwhorter  3708
507         Lori          Wood  3713
508         Ryan     Salisbury  3717
509        Jason     Morrissey  3718
510         John    Farnsworth  3722
511     Mitchell  Westmoreland  3736
512        Ralph      Madrigal  3737
513      Darlene          Rose  3745
514          Jim           Rea  3749
515       Arnold        Havens  3752
516          Ana       Bradley  3760
517         Lois        Butler  3762
518        Sally        Pierce  3762
519        Mabel       Holland  3770
520      Zachary          Hite  3771
521     Florence         Woods  3775
522         Rosa      Reynolds  3779
523       Carrie        Porter  3790
524       Stacey    Montgomery  3791
525        Viola        Hanson  3794
526        Julie       Sanchez  3808
527        Ethel          Webb  3810
528        Helen        Harris  3818
529          Mae      Fletcher  3828
530       Morris      Mccarter  3829
531     Nicholas      Barfield  3836
532   Jacqueline          Long  3855
533         Alex       Gresham  3857
534         Neil        Renner  3879
535        Casey          Mena  3891
536       Leslie        Seward  3891
537      Bernice        Willis  3892
538      Crystal          Ford  3894

In [21]:
main.category_statistic_length('Action')

  category         avg   sum  min  max
0   Action  111.609375  7143   47  185